.Icon {
    width: 80px;
    margin-bottom: 32px;

    &.SocialMedia {
        max-width: 24px;
        width: 100%;
        height: auto;
        align-self: center;
        margin: 8px 18px 0 0;
    }
}