@import '../../../styles/base/variables';

.Nav {
    margin: 0 auto;
    width: 100%;
    max-width: $max-width-content;
    padding-bottom: 64px;
    padding-top: $side-padding-mobile;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media screen and (min-width: $bp-tablet) {
        padding-top: 32px;
        padding-bottom: 96px;
    }

    @media screen and (min-width: $bp-desktop-sm) {
        padding-bottom: 0;
    }
    
    > .LinksContainer {
        width: 36%;
        display: flex;
        justify-content: space-between;
        
        .Icon {
            max-width: 24px;
            margin: 0;
        }
    }
}