@import '../../../styles/base/variables.scss';

.LogoRow {
    width: 100%;
    flex-wrap: wrap;

    > .col {
        padding-bottom: $padding-rows;
        width: 48%;
        
        @media screen and (min-width: $bp-desktop-sm) {
            width: 25%;
            padding-bottom: 0;
        }
    }
}