@import '../../../styles/base/variables';

.Figure {
    width: 100%;
    display: flex;
    padding-top: $padding-sections-mobile / 2;
    align-items: center;
    justify-content: flex-start;

    @media screen and (min-width: $bp-tablet) {
        flex-direction: column;
        padding-top: 0;
    }

    @media screen and (min-width: $bp-desktop-sm) {
        padding-top: 0;
    }

    > .Image {
        margin-left: auto;
    }
}