body {
    background: $bg-color;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.Layout {
    background-color: $bg-color;

    // general styling sections
        section {
            @extend .top-bottom-padding;
            margin: 0 auto;
            max-width: $max-width-content;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;

            @media screen and (min-width: $bp-tablet) {
                flex-direction: row;
            }
     
            // "special" style classes
            &.centered {
                text-align: center;
                justify-content: center;
            }

            // children of sections need to take up their max widths
            > * {
                width: 100%;
            }
        }

        // columns    
        .col {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            @media screen and (min-width: $bp-tablet) {
                justify-content: flex-start;
                align-items: flex-start;
            }

            > * {
                max-width: 100%;
            }
        }
        
        .one-of-two {
            @include colwidth(2);
        }

        .one-of-three {
            @include colwidth(3);
        }

        .one-of-four {
            @include colwidth(4);
        }
}