body {
    background: $white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.Layout {
    background-color: $white;
    overflow-x: hidden;

    nav, header {
        @extend %side-padding;
    }

    // general styling sections
        section {
            @extend %top-bottom-padding;
            @extend %side-padding;

            margin: 0 auto;
            max-width: $max-width-content;
            display: flex;
            flex-direction: column;
            
        }
        
        //rows
        .row {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;

            &:not(:last-of-type) {
                padding-bottom: 160px;
            }
            
            @media screen and (min-width: $bp-tablet) {
                flex-direction: row;
            }
            
            // "special" style classes
            &.centered {
                text-align: center;
                justify-content: center;
                align-items: center;
            }
    
            &.aligned-center {
                align-items: center;
            }
        }

        // columns    
        .col {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            padding-bottom: $side-padding-mobile;

            @media screen and (min-width: $bp-tablet) {
                justify-content: flex-start;
                align-items: flex-start;
                padding-bottom: 0;
                
                &.first {
                    order: 0;
                }
                
                &:not(.first) {
                    order: 1;
                }
            }
        }
        
        .one-of-two {
            @include colwidth(2);
        }

        .one-of-three {
            @include colwidth(3);
        }

        .one-of-four {
            @include colwidth(4);
        }
}