// Base fonts
$base-font: 'Work Sans', sans-serif;

// Colors
$black: #100F10;
$white: #FFFFFF;

// Pallette
$color-yellow: #FFDA3E;
$color-orange: #F29079;
$color-pink: #E295EF;
$color-purple: #AA65E0;
$color-blue: #3DD2E2;
$color-light-pink: #FDFAFF;

// Styling attributes
$box-shadow-mobile: 0 4px 12px 12px #F9F9F9;
$box-shadow-tablet: 0 4px 24px 24px #F9F9F9;
$box-shadow-standard: 0 4px 44px 44px #F9F9F9;

// Breakpoints for for min-width
$bp-mobile: 320px;
$bp-tablet: 480px;
$bp-desktop-sm: 1120px;
$bp-desktop-md: 1280px;

// Margins and padding
$max-width-content: 1340px;

$padding-sections-mobile: 80px;
$padding-sections-tablet: 112px;
$padding-sections-desktop: 140px;

$padding-rows: 48px;
$padding-side-cols: 60px;

$side-padding-mobile: 24px;
$side-padding-tablet: 40px;
$side-padding-desktop: 80px;

// Transitions
$transition-200: all .2s ease;
$transition-300: all .3s ease;
$transition-400: all .4s ease;
$transition-500: all .5s ease;


// Padding between sections
%top-bottom-padding {
    padding: $padding-sections-mobile 0;

    @media screen and (min-width: $bp-tablet) {
        padding: $padding-sections-tablet 0;
    }

    @media screen and (min-width: $bp-desktop-sm) {
        padding: $padding-sections-desktop 0;
    }
}

// Side padding
%side-padding {
    padding-left: $side-padding-mobile;
    padding-right: $side-padding-mobile;

    @media screen and (min-width: $bp-tablet) {
        padding-left: $side-padding-tablet;
        padding-right: $side-padding-tablet;        
    }
    
    @media screen and (min-width: $bp-desktop-sm) {
        padding-left: $side-padding-desktop;
        padding-right: $side-padding-desktop;        
    }

    @media screen and (min-width: $bp-desktop-md + $side-padding-desktop * 2) {
        padding-left: 0;
        padding-right: 0;
    }
}

// Max widths for columns
@mixin colwidth($col-amount) {
    max-width: 100%;

    @media screen and (min-width: $bp-tablet) {
        @if $col-amount == 2 {
            max-width: calc((100% - #{$side-padding-tablet}) / 2);
        } @else if $col-amount == 3 {
            max-width: calc((100% - #{$side-padding-tablet} * 2) / 3);
        } @else if $col-amount == 4 {
            max-width: calc((100% - #{$side-padding-tablet} * 3) / 4);
        }
    }

    @media screen and (min-width: $bp-desktop-sm) {
        @if $col-amount == 2 {
            max-width: calc((100% - #{$padding-side-cols}) / 2);
        } @else if $col-amount == 3 {
            max-width: calc((100% - #{$padding-side-cols} * 2) / 3);
        } @else if $col-amount == 4 {
            max-width: calc((100% - #{$padding-side-cols} * 3) / 4);
        }
    }
}